.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

/* mobile */
@media screen and (max-width: 768px){
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-contatoForm{
        width: 100%;
    }
    .rodapePrincipal-patrocinadores-list{
        width: 100%;
    }
    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
}
